@import "tailwindcss";

body {
	@apply bg-neutral-900 p-3;
}

select {
	@apply appearance-none;
	@apply px-3 py-2;
	@apply text-sm text-neutral-700 dark:text-neutral-300;
	@apply bg-neutral-100 dark:bg-neutral-700;
	@apply rounded-md border-2 outline-hidden dark:border-neutral-900;
	@apply cursor-pointer;
}

.select-wrapper {
	@apply relative;
}

.select-wrapper::after {
	@apply absolute top-[47.5%] right-4 -translate-y-1/2;
	@apply h-2 w-2 rotate-45;
	@apply border-r-2 border-b-2 border-neutral-400;
	@apply pointer-events-none content-["_"];
}
